html {
    box-sizing: border-box;
}
 
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
}

footer {
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

textarea {
  font-size: 1rem;
  resize: none;
  border: none;
  font-family: inherit;
  width: 100%;
  margin: 8px 0px;
}

input {
  font-size: 1rem;
  font-family: inherit;
  align-self: flex-start;
  margin: 8px 0px;
  border: none;
}

button {
  text-align: center;
  font-family: inherit;
  align-self: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.sidebar {
  margin: 0;
  padding: 48px 0px;
  font-size: 20px;
  background-color: rgb(245,245,245);
  height: 100vh;
  width: 20%;
}

.container {
  margin: 0;
  padding: 64px 48px;
  width: 80%;
}

.new-event {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  text-align: center;
  align-self: center;
}

.item {
  margin: 12px 0px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  cursor: pointer;
}

.blank {
  margin: 0;
  padding: 0;
  height: 12px;
}

.check-title {
  display: flex;
}

.card,
.new-event {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 16px; 
  margin: 16px; 
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  border: 1px rgba(0,0,0,0.2) solid;
  border-radius: 5px;
}

.event-title {
  margin: 0;
  padding: 0 12px;
}

.blue {
  color: rgb(25,170,240);
}

.yellow {
  color: rgb(250,210,10);
}

.pink {
  color: rgb(250,60,110);
}